<%- include('../header.ejs') %>
    <h1>This is my kids book show page.</h1>
    <hr>
    <h2>Title: <%= kidsBook.title %></h2>
    <h2>Title: <%= kidsBook.author %></h2>
    <h2>Title: <%= kidsBook.price %></h2>

</body>
</html>