<%- include('./header.ejs') %>
    <h1>We're here to take some of Bezos's money</h1>
    <a href="/beautyProducts">
        <h2>Let's look at beauty Products!</h2>
    </a>
    <a href="/kidsBooks">
        <h2>Let's look at kids books!</h2>
    </a>
    <a href="/vitamins">
        <h2>Let's look at vitamins!</h2>
    </a>
        
</body>
</html>