<%- include('../header.ejs') %>
    <h1>this is my vitamin</h1>
    <h2>Name: <%= vitamin.name %></h2>
    <h2>Brand: <%= vitamin.brand %></h2>
    <h2>Price: <%= vitamin.price %></h2>
</body>
</html>