<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>beautyProducts</title>
</head>
<body>
    <h1>Here are all my beautyProducts!</h1>
    <hr>
    <% for (let i = 0 ; i < beautyProducts.length ; i++) { %>
        <h2>Name: <%= beautyProducts[i].name %></h2>
        <h2>Brand: <%= beautyProducts[i].brand %></h2>
        <h2>Price: &<%= beautyProducts[i].price %></h2>
        <hr>
    <% } %>
</body>
</html>
